<!-- <div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar">
            <a href="#" title="Online auto Financial Platform"><img src="images/logo.png"></a></div>
            <div class="form-box">
                <form name="theForm" >
               
                <div class="form-group" >
                    <input id="log24" name="username" type="text"  ng-model="client.clientname" placeholder="username" required>
                    <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.username.$error.required">username is required</span>
                    <input  id="log25" name="password" type="password"  ng-model="client.password" placeholder="password">
                    <small id="pasErrormsg" class="errormessage"></small>
                   </div>
                    <button id="log23" class="btn btn-info btn-block login" ng-click="login()" type="submit">Login</button>
                </form>
            </div>
        </div>
        
</div>
 -->
<div class="login-wrapper">
      <div class="login-container">
        <h1>
          <a href="#" title="Postal"><img src="images/logo-icon.png"></a>
        </h1>
        <form name="theForm">
          <div class="form-group">
            <input class="form-control" ng-model="client.clientname" placeholder="Clientname" type="text" name="username" required>
            <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.username.$error.required">user name is required</span>
          </div>
          <div class="form-group">
            <input class="form-control" ng-model="client.password"  placeholder="Password" type="password" name="password" required>
             <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.password.$error.required">Password is required</span>
          </div>
		  <div class="form-group">
		  <button type="submit" ng-click="login()" class="submit-btn">Submit</button>
		  </div>
		 
        </form>
      </div>
    </div>

 